{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
    <title>
                {%for seo_qurey_about in seo_qurey_about%}
                     {{seo_qurey_about.seo_title}} 
                {%endfor%}         
    </title>
            {%for seo_qurey_about1 in seo_qurey_about1%}
                <meta charset="utf-8">
                <meta name="description" content="{{seo_qurey_about1.seo_discription}}">
                <meta name="keywords" content="{{seo_qurey_about1.seo_keyward}}">
            {% endfor %}
{% endblock %}
    
{% block content %}
        
            <section id="main-slider" class="no-margin">
                <div class="carousel slide">
                    <div class="carousel-inner">
                        {% for headers in header %}
                        <div class="item active" style="background-image:url({{headers.Image.url}})">
                            <div class="container slider_effect">
                                <div class="row slide-margin">
                                    <div class="col-sm-12">
                                        {% for headers in header %}
                                        <div class="carousel-content">
                                            <h1 class="animation animated-item-1 center">
                                                {{headers.Title1}}
                                            </h1>
                                            <h2 class="animation animated-item-2 center">
                                                {{headers.Title2}}
                                            </h2>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="topDownarrow">
                                <a href="#about1">
                                    <img class="animation animated-item-3 center center-block img-responsive" src="{% static 'Amc/images/slider/downarrow.png' %}" style="width:64px;">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!--/.carousel-inner-->
                </div><!--/.carousel-->
            </section><!--/#main-slider-->
            <section id="about1"><!-- id="recent-works" -->
                <div class="container">
                    <div class="center wow fadeInDown">


                        
                        <div class="amc_icon" style ="margin-top:83px;">
                            <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{body.Icon.url}}" style="width:64px;">
                        </div>
                        

                       
                        <h3>{{body.Title}}</h3>
                        
                        <div class="amc_icon"  >
                            <h4 class="lead" >
                                {{body.Decription}}
                            </h4 >
                        </div> 
                        </div>            
                </div><!--/.container-->
            </section><!--/#recent-works-->

           {% for bodyimg in bodyimg %}
           <section id="partner_a" style="background-image:url({{bodyimg.Image.url}})">
                <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="center wow fadeInDown about_middle_slider">
                        </div>
                    </div>           
                </div><!--/.container-->
            </section><!--/#partner-->
            {% endfor %}  

            <section id="about1"><!-- id="recent-works" -->
                <div class="container">
                    <div class="center wow fadeInDown">
                        <div class="amc_icon">
                            <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{body2.Icon.url}}" style="width:64px;">
                        </div>
                        <h3>{{body2.Title}}</h3>
                        <div class="amc_icon" >
                            <h4 class="lead" >
                                {{body2.Decription}}
                            </h4 >
                        </div> 
                        </div>            
                </div><!--/.container-->
            </section><!--/#recent-works-->
     
            <section id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="portfolio-items">
                        {% for imgs in img %}
                            <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                                <div class="recent-work-wrap">
                                    <img class="img-responsive" src="{{imgs.Image.url}}" alt="">
                                        <div class="overlay">
                                            <div class="recent-work-inner">
                                                <h3><a href="#">{{imgs.Title}}</a></h3>
                                                <p>{{imgs.Decription}}</p>
                                                <a class="preview" href="{{imgs.Image.url}}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                            </div> 
                                        </div>
                                </div>
                            </div>
                        {% endfor %}  
                        </div>
                    </div>
                </div>
            </section>

            <section id="recent-works">
                <div class="container">
                    <div class="center wow fadeInDown button_space">
                       <p class="lead">
                        To Find out more
                    </p>
                    

                    <a href="/Contact-us.html/" class="btn_lode" >
                        <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">
                            
                            CONTACT US
                            
                        </button></a>
                    </div> 
                </div><!--/.container-->
            </section><!--/#recent-works-->
            
        </body>
    {% endblock %}