{% extends 'base.html'%}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">About us- Header update</h3>
            </div>
            <div class="box-body table-responsive no-padding">
              <!-- <table class="table table-hover">
                <tbody>
  								<tr>
  									<th>Image</th>
  									<th>Title</th>
  									<th>Description</th>
  								</tr>
  								<tr>
  									<td>{{form.Image}}</td>
  									<td>{{form.Title1}}</td>
  									<td>{{form.Title2}}</td>
  									<td><button>Update</button></td>
  								</tr>
							 </tbody>
              </table> -->
              <table class="table table-hover">
                <tbody>
                  <!-- <tr>
                    <td><label for ="title"> Enter the title :</label></td>
                    <td>{{form.Title1}}</td>
                  </tr>
                  <tr>
                    <td><label for ="image_name"> Header Background Image : </label></td>
                    <td>{{form.Image}}</td>
                  </tr>
                  <tr>
                    <td><label for ="desc" > Description : </label></td>
                    <td>{{form.Title2}}</textarea></td>
                  </tr> -->
                  {{form}}
                  <tr>
                    <td><input type ="submit" value="Update" class = "btn btn-success"/>
                    <a href='/aboutus-admin' class="btn btn-default" role="button">Cancel</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form> 
{% endblock %}