{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
<title> 
    {% for seo_qurey_hms1 in seo_qurey_hms1 %}
    {{seo_qurey_hms1.seo_title}} 
    {% endfor %}
</title>
    {% for seo_qurey_hms1 in seo_qurey_hms1 %}
        <meta charset="utf-8">
        <meta name="description" content="{{seo_qurey_hms1.seo_discription}}">
        <meta name="keywords" content="{{seo_qurey_hms1.seo_keyward}}">
    {% endfor %} 
{% endblock %}

{% block content %}

<body class="homepage">
    {%for queryset1 in queryset1%}
 

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({{queryset1.image.url}})">
                    <div class="container slider_effect">
                        <div class="row slide-margin">
                            <div class="col-sm-12">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1 center">{{queryset1.text_title1}}</h1>
                                    <h2 class="animation animated-item-2 center">{{queryset1.text_title2}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topDownarrow">
                                    <a href="#hsm1"><img class="animation animated-item-3 center center-block img-responsive" src="{% static 'Amc/images/slider/downarrow.png' %}" style="width:64px;"></a>
                                </div>
                </div><!--/.item-->

               
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
       
    </section><!--/#main-slider-->
    {%endfor%}

    {%for queryset2 in queryset2%}
    
    <section id="hsm1"> <!-- id="recent-work" -->
        <div class="container ">
            <div class="center wow fadeInDown hms-quicky">
                 <div class="amc_icon" style = "margin-top:88px;">
                    <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{queryset2.icon1.url}}" style="width:64px;">
                </div>
                 <h3>{{queryset2.title1}}</h3>
                <div class="amc_icon">
                      <h4 class="lead">{{queryset2.discription}}</h4>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#recent-works-->
    {%endfor%}
    {%for queryset3 in queryset3%}
     <table class="table table-bordered"> 
    <section id="services" class="service-item hosted_features1 services-height image-height" style=" background-image:url({{queryset3.image_icon.url}})">
           <div class="container hms-visit">
                <!-- <div class="center wow fadeInDown"> -->
                    <img class="img-responsive wow fadeInDown center-block spoon-img spoon-img-des" width="150" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{queryset3.icon2.url}}" style="width:64px"/>
                    <br>
                    <h2>{{queryset3.title2}}</h2>
                    <a style="color: #ffffff;" class="preview" href="//{{queryset3.image_url}}"><i class = "fa fa-link"></i>Visit</a>
                <!-- </div> -->
            </div><!-- /.container -->
    </section><!-- /#services -->
    </table>
     
    {%endfor%}
    <section id="recent-works">
        <div class="container ">
            <div class="center wow fadeInDown button_btn">
                <p class="lead">For Price plans &amp; Features Listing</p>
                <a class="btn_lode" href="http://www.grapp.sg" target="_blank">
                    <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">VISIT GRAPP</button>
                </a> 
            </div> 
        </div><!--/.container-->
    </section>
{% endblock %}