{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% block content_title %}

		{% endblock %}
		<link rel="icon" href="{% static 'amc.png'%}" type="image/png">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <meta name="google-site-verification" content="wLQ6_xFqbO0ZFJWiI36SWT3pmUhi_M3hJ0eYwdJa7z4"/>
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/animate.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/prettyPhoto.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/responsive.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/amc_style.css' %}">
		<script src="{% static 'ckeditor/ckeditor.js'%}"></script>
  
	</head>
	<body class="homepage">
		<header id="header">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/Home.html/"><img src="{% static 'Amc/images/MENU_BAR/logo.png' %}" alt="logo" width="121px"></a>
					</div>

					<div class="collapse navbar-collapse navbar-right">
						<ul class="nav navbar-nav">
							<li class="nav_style"><a href="/About.html/">About</a></li>
							<li class="nav_style"><a href="/Services.html/">Services</a></li>
							<li class="nav_style"><a href="/HMS.html/">HMS</a></li> 
							<li class="nav_style"><a href="/Blog.html?category=ALL">Blog</a></li> 
							<li class="nav_style"><a href="/Portfolio.html?category=ALL">Portfolio</a></li>
							<li class="nav_style"><a href="/Contact-us.html/">Contact us</a></li> 
							<li class="soial_ico social">
								<div>
									<ul class="social-share">
										{% for icon_qurey in icon_qurey %} 
										<li>
											<a href="//{{icon_qurey.icon_url}}">
												<img src=" {{icon_qurey.icon_image.url}}" value="" alt="logo" width="26px">
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</li>                      
						</ul>
					</div>
				</div><!--/.container-->
			</nav><!--/nav-->
		</header>

		{% block content %}

		{% endblock %}

		<footer id="footer" class="midnight-blue footer_color">
			<div class="container-fluid ">
				<div class="col-md-12 col-sm-12 footer_color foot_topeffect">
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-8 col-sm-12">
						{% for footer in footer %}
						<div class="col-md-3 col-sm-12">
							<h4>{{footer.country}}</h4>
							<h5>
								{{footer.adress_line1}}&nbsp;{{footer.adress_line2}} <br>
								{{footer.state}}&nbsp;{{footer.pin}}<br>
								{{footer.contact}}<br>
							</h5>
						</div>
						{% endfor %}

					</div>
					<div class="col-md-2 col-sm-12"></div>
				</div>  
				<hr>
				<div class="footer_bottom ">
					<div class="col-md-12 col-sm-12 footer_color foot_bottomeffect">
						<div class="col-md-2"></div>
						{% for quote in copyright %}
						<div  class="col-md-8 col-sm-6">
							<p>{{quote.copy_right_quote}}</p>
						</div>
						{% endfor %}
						<div class="col-md-2"></div>
					</div>      
				</div>      
			</div>        
		</footer> 
		<!--/#footer-->

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-90087624-1', 'auto');
			ga('send', 'pageview');
		</script>

		<script src="{% static 'Amc/js/jquery.js' %}"></script>
		<script src="{% static 'Amc/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'Amc/js/jquery.prettyPhoto.js' %}"></script>
		<script src="{% static 'Amc/js/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'Amc/js/main.js' %}"></script>
		<script src="{% static 'Amc/js/wow.min.js' %}"></script>
		<!-- ckeditor -->
		<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
		<script src="{% static 'ckeditor/build-config.js' %}"></script>   
		<script src="{% static 'ckeditor/config.js' %}"></script>   
		<script src="{% static 'ckeditor/styles.js' %}"></script>
		
	</body>
</html>