{% extends 'base.html' %}

{% block content %}
		

      <form name="myForm" onsubmit="return validateForm()" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        
              <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Blog page- update details</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
	                   <table class="table table-hover table-bordered">
                      <tbody>
	                    <tr>
		                    <td>Select Image</td>
		                    <td>{{form.blog_image}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Date</td>
                        
		                    <td>{{form.date_no}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Month</td>
		                    <td>{{form.date_char}}</td>
	                    </tr>
                      <tr>
                        <td> Select Calender</td>
                       <td>{{form.calender}}
                            <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                             <input class="form-control" size="16" type="text" value="" readonly name="calender">
                             <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                          </div>
                  <input type="hidden" id="dtp_input1" value="" /><br/>
          
                    </td>   
                       <!-- <td>{{form.calender}}</td>-->
                      </tr>
	                   	 <tr>
		                    <td>Enter By</td>
		                    <td>{{form.by}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Title</td>
		                    <td>{{form.bolg_title}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Discription</td>
		                    <td>{{form.bolg_discription}}</td>
	                    </tr>
	                   </tbody>		
						</table>
						<input type ="submit" class="btn btn-primary"  value ="Update"/>
					
					</div>
				</div>
			</div>
		</form>


{% endblock %}