{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
   <title>
        

        {%for seo_qurey_blog in seo_qurey_blog%}
            {{seo_qurey_blog.seo_title}} 
        {%endfor%}
    </title>
        {%for seo_qurey_blog1 in seo_qurey_blog1%}
            <meta charset="utf-8">
            <meta name="description" content="{{seo_qurey_blog1.seo_discription}}">
            <meta name="keywords" content="{{seo_qurey_blog1.seo_keyward}}">
        {% endfor %}
{% endblock %}
    
{% block content %}
    <div class="container main blog-body">        
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="portfolio_submenu">
                <li><a href="/Articles.html/"><h5>ARTICLES</h5></a></li>
                <li><a href="/Blog.html/"><h5>BLOG</h5></a></li>
            </ul>
        </div>
    </div>

    <section class="pricing-page">

        <div class="container">
                     
            <div class="pricing-area text-center">

                <div class="row"> 

                     {%for queryset5 in queryset5%}
                    <div class="col-md-6 plan price-four wow fadeInDown">
                    
                        <div class="blog_date1" style="background-image: url({{queryset5.blog_image.url}})">
                            <div class="blog_date_back">
                                <h2 class="blog_date_back_h1"><b>{{queryset5.date_no}}</b><hr class="blog_date_back_hr">
                               <p class="blog_date_back_p">{{queryset5.date_char}}</p></h2>
                            </div>                             
                        </div>
                        <div class="blog_section">
                            <h5 class="blog_cal"><i class="fa fa-calendar-o cal_font" aria-hidden="true">{{queryset5.calender}}&nbsp;</i>by &nbsp;{{queryset5.by}}</h5>
                            <h4 class="blog_gallary_title">{{queryset5.bolg_title}}</h4>
                            <h5 class="blog_gallary_para">{{queryset5.bolg_discription}}</h5>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        </div>  
                        <div class="row"> 

                    
                        {% endif %}
                    {% endfor %}  
                </div>
             
             </div>
        
        </div>  
             
    </section><!--/pricing-page-->

{% endblock %}
    