{% extends 'base.html' %}

{% block content %}


      <form name="myForm" onsubmit="return validateForm()" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        
              <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Blog page- add new images </h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
						<table class="table table-hover table-bordered">

							<tbody>
								<tr class="success">
									<td>Blog image</td>
									<td><input type="file" name="blog_image" required/></td>
								</tr>
								
								<tr class="success">
									<td>Enter Date</td>
									<!-- <td><input type="month" name="date_no" required/></td>
								</tr> -->
                <td>
                  <!-- <input type="date" data-date-inline-picker="true" name="date_no" /> -->
                  <input type="text" name="date_no" required/></td> 
                </td>
                </tr>
                <tr class="success">
                  <td>Enter Month</td>
                  <!-- <td><input type="month" name="date_no" required/></td>
                </tr> -->
                <td>
                  <!-- <input type="date" data-date-inline-picker="true" name="date_no" /> -->
                  <input type="text" name="date_char" required/></td> 
                </td>
                </tr>
                <tr class="success">
                  <td>Select Calender</td>
               <!-- <td>  <input type="date" data-date-inline-picker="true" name="calender" /></td>
                  <td><input type="text" name="date_no" required/></td>-->
                  <td>
                    

             <!-- <div class="form-group"> -->
                          <!-- <label for="dtp_input1" class="col-md-2 control-label"></label> -->
                          <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                              <input class="form-control" size="16" type="text" value="calender" readonly name="calender">
                              <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> -->
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                          </div>
                  <input type="hidden" id="dtp_input1" value="" /><br/>
            <!-- </div> -->
      

                  </td>
                </tr>

								<tr class="success">
									<td>Author</td>
									<td><input type="text" name="by" required/></td>
								</tr>
								<tr class="success">
									<td>Blog Title</td>
									<td><input type="text" name="bolg_title" required/></td>
								</tr>
								<tr class="success">
									<td>Blog Contant</td>
									<td><textarea rows="4" cols="50" name="bolg_discription" required /> </textarea></td>
								</tr>
								
								<tr>
									<td></td>
									<td><button type="submit" class="btn btn-primary" style="height: 50px; width: 100px; background-color: green;" name="btn" text="save">save</button></td>
								</tr>
							</tbody>
						</table>
					</div>
                  </div>
              </div>
              
      </form>

  
{% endblock %}
