{% extends 'base.html'%}

{% block content %}

      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Contact Us update</h3>
            </div>
            <div class="box-body table-responsive no-padding">
              <!-- <table class="table table-hover">
                <tbody>
								<tr>
									<th>Country</th>
									<th>Address Line1</th>
									<th>Address Line2</th>
									<th>State</th>
									<th>Pin</th>
									<th>Contact</th>
								</tr>
								<tr>

									<td>{{form.country}}</td>
									<td>{{form.adress_line1}}</td>
									<td>{{form.adress_line2}}</td>
									<td>{{form.state}}</td>
									<td>{{form.pin}}</td>
									<td>{{form.contact}}</td>
									
									<td><button>Update</button></td>
									
								</tr>
							</tbody>
              </table> -->

              <table class="table table-hover">
                <tbody>
                 <!--  <tr>
                    <td><label for ="image_name"> Address line 1 : </label></td>
                    <td>{{form.adress_line1}}</td>
                  </tr>
                  <tr>
                    <td><label for ="image_name"> Address line 2 : </label></td>
                    <td>{{form.adress_line2}}</td>
                  </tr>
                  <tr>
                    <td><label for ="title"> Contact number (Optional) :</label></td>
                    <td>{{form.contact}}</td>
                  </tr>
                  <tr>
                    <td><label for ="title"> State :</label></td>
                    <td>{{form.state}}</td>
                  </tr>
                  <tr>
                    <td><label for ="desc" > Pin : </label></td>
                    <td>{{form.pin}}</td>
                  </tr>
                  <tr>
                    <td><label for ="desc" > Country : </label></td>
                    <td>{{form.country}}</td>
                  </tr> -->

                  {{form}}
                  <tr>
                    <td><input type ="submit" value="Update" class = "btn btn-success"/>
                    <a href='/footer-admin' class="btn btn-default" role="button">Cancel</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>

{% endblock %}