 <footer id="footer" class="midnight-blue footer_color">

        <div class="container-fluid ">
            <div class="col-md-12 col-sm-12 footer_color foot_topeffect">
                <div class="col-md-2 col-sm-12"></div>

                <div class="col-md-8 col-sm-12">
                    {% for footer in footer %}
                    <div class="col-md-3 col-sm-12">
                        <h4>{{footer.country}}</h4>
                        <h5>
                            {{footer.adress_line1}}&nbsp;{{footer.adress_line2}} <br>
                            {{footer.state}}&nbsp;{{footer.pin}}<br>
                            {{footer.contact}}<br>
                        </h5>
                    </div>
                    {% endfor %}
                   
                </div>
                <div class="col-md-2 col-sm-12"></div>
                             
            </div>  
            <hr>
            <div class="footer_bottom ">
                <div class="col-md-12 col-sm-12 footer_color foot_bottomeffect">
                    <div class="col-md-2"></div>
                    {% for quote in copyright %}
                    <div  class="col-md-8 col-sm-6">
                        <p>{{quote.copy_right_quote}}</p>
                    </div>
                    {% endfor %}
                    <div class="col-md-2"></div>
                </div>      
            </div>      
        </div>        
    </footer> 
    <!--/#footer-->