{% extends 'base.html' %}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
          {% csrf_token %}
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title"> Icon page intro details </h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover social-icon-admin">
                  <tbody>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>URL</th>
                        <th>Update</th>
                         <th>Delete</th>
                    </tr>
                    {% for obj in icon_qurey %}
                    <tr>
                      <td>{{obj.id}}</td>
                      <td><img class="img-circle" src="{{obj.icon_image.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                      <td>{{obj.icon_title}}</td>
                      <td>{{obj.icon_url}}</td>
                      <td>
                        <a href='/{{obj.id}}/icon-update' class="btn btn-success" role="button">Update</a>
                      </td>
                      <td>
                        <a href='/{{obj.id}}/icon-delete' class="btn btn-danger" role="button">Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                    <tr>  
                     <td><a href='/icon-add' class="btn btn-info" role="button">Add New</a></td>
                   </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </form>

      
      

 
{% endblock %}