<!DOCTYPE html>
{% load static %}
    <html>
        <head>
            <title></title>
        </head>
        
        <body>
            {% include 'webpage/layout.html' %}


    <header id="header">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home.html/"><img src="{% static 'Amc/images/MENU_BAR/logo.png' %}" alt="logo" width="121px"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="nav_style"><a href="/About.html/">About</a></li>
                        <li class="nav_style"><a href="/Services.html/">Services</a></li>
                        <li class="nav_style"><a href="/HMS.html/">HMS</a></li> 
                        <li class="nav_style"><a href="/Blog.html?category=ALL/">Blog</a></li> 
                        <li class="nav_style"><a href="/Portfolio.html/">Portfolio</a></li>
                        <li class="nav_style"><a href="/Contact-us.html/">Contact us</a></li> 
                        <li class="soial_ico social">
                            <div>
                                <ul class="social-share">
                                    {% for icon_qurey in icon_qurey %} 
                                    <li>
                                        <a href="//{{icon_qurey.icon_url}}">
                                            <img src=" {{icon_qurey.icon_image.url}}" value="" alt="logo" width="26px">
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>                      
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header>






























        </body>
    </html>