{% extends 'base.html'%}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">icons page update</h3>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>

	                   <!--  <tr>
		                    <td>Select Icon</td>
		                    <td>{{form.icon_image}}</td>
	                    </tr>
	                    
	                    <tr>
		                    <td>Enter Title</td>
		                    <td>{{form.icon_title}}</td>
	                    </tr>
	                   
                     	 <tr>
		                    <td>Enter URL</td>
		                    <td>{{form.icon_url}}</td>
	                    </tr> -->
	                   
							 {{form}} 
						
								
						<tr>
							<td>
						<input type ="submit" class="btn btn-primary" value ="Update"/>
						<a href='/icon-admin' class="btn btn-default" role="button">Cancel</a></td>
					</tr>
					</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>
	
{% endblock %}