{% extends 'base.html' %}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
          {% csrf_token %}
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title"> HMS top page - intro details </h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th> Sub_Title</th>  
                    </tr>
                    {% for obj in queryset1 %}
                    <tr>
                      <!--<td>{{obj.image}}</td>-->
                      <td><img class="img-circle" src="{{obj.image.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                      <td>{{obj.text_title1}}</td>
                      
                      <td>{{obj.text_title2}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                     <td><a href='/hms_update' class="btn btn-success" role="button">Update</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </form>

        <!--HMS Models Middle_image_icon Code-->
      <form method = "GET" action ="">
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">  HMS page Middle Icon- intro details</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                      <tr>
                          <th>Icon</th>
                          <th>Title</th>
                          <th> Discription</th>
                      </tr>
                      {% for obj in queryset2 %}
                      <tr>
                          <!--<td>{{obj.image}}</td>-->
                          <td><img class="img-circle" src="{{obj.icon1.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                          <td>{{obj.title1}}</td>
                          <td>{{obj.discription}}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                       <td><a href='/hms_middle_update' class="btn btn-success" role="button">Update</a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>

      <form method = "GET" action ="">
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">  HMS page bottom Icon- intro details</h3>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                  <tr>
                      <th>ID</th>
                      <th>Image</th>
                      <th>Icon</th>
                      <th> Title</th>
                      <th> URL</th>
                      <th>Update</th>
                      <th>Delete</th>
                  </tr>
                  {% for obj in queryset3 %}
                  <tr>
                       <td>{{obj.id}}</td>
                      <!--<td>{{obj.image}}</td>-->
                      <td><img class="img-circle" src="{{obj.image_icon.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                      <td><img class="img-circle" src="{{obj.icon2.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                      <td>{{obj.title2}}</td>
                      <td>{{obj.image_url}}</td>

                       <td><a href='/{{obj.id}}/hms_buttom_update' class="btn btn-success" role="button">Update</a></td>
                      <td><a href='/{{obj.id}}/hms_buttom_delete' class="btn btn-danger" role="button" onclick="myFunction()">Delete</a></td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td><a href='/hms_buttom_add' class="btn btn-info" role="button">Add New</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>

 
{% endblock %}