{% extends 'base.html' %}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        
              <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title"><strong>HMS page- bottom icon Add </strong></h3>
                    </div>
                    
                    <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                        <tbody>
                
								<tr class="success">
									<td>Select Bg Image</td>
									<td><input type="file" name="image_icon" required/></td>
								</tr>
								<tr class="success">
									<td>Select Icon</td>
									<td><input type="file" name="icon2" required/></td>
								</tr>
								<tr class="success">
									<td>Enter Title</td>
									<td><input type="text" name="title2" required/></td>
								</tr>
                <tr class="success">
                  <td>Enter url</td>
                  <td><input type="text" name="image_url" required/></td>
                </tr>
								
								<tr>
									<td></td>
									<td><button type="submit" class="btn btn-success" name="btn" text="save">submit</button>
                  <a href='/hms-admin' class="btn btn-default" role="button">Cancel</a></td>
								</tr>
							</tbody>
                      </table>
                    </div>
                  </div>
              </div>
              
      </form>

  
{% endblock %}