{% extends 'base.html' %}

{% block content %}


			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Home top page-   update details</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
	                    <!-- <tr>

		                    <td>Select Image</td>
		                    <td>{{form.image_bg1}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Title</td>
		                    <td>{{form.title_index1}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Sub_Sitle</td>
		                    <td>{{form.sub_title}}</td>
	                    </tr> -->
	                    {{form}}
	    				<tr><td>
						<input type ="submit" class="btn btn-success" value ="Update"/>
						<a href='/home-admin' class="btn btn-default" role="button">Cancel</a></td>
						</tr>
					 </tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

	
{% endblock %}
