{% extends 'base.html' %}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <!-- Services- Header -->
        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Home page- Add New Images In  Top Page details...</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                      <tbody>
                
								<tr class="success">
									<td>image_bg1</td>
									<td><input type="file" name="image_bg1" required/></td>
								</tr>
								<tr class="success">
									<td>title_index1</td>
									<td><input type="text" name="title_index1" required/></td>
								</tr>
								<tr class="success">
									<td>sub_title</td>
									<td><input type="text" name="sub_title" required/></td>
								</tr>

								<tr>
									<td></td>
									<td><button type="submit" class="btn btn-primary" style="height: 50px; width: 100px; background-color: green;" name="btn" text="save">save</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>

{%endblock%}