{% extends 'base.html' %}

{% block content %}


			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Home middle page-  update details</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>

	                    	
	                   <!--  <tr>
		                    <td>Select Icon_Image</td>
		                    <td>{{form.icon_image1}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Title</td>
		                    <td>{{form.title_index2}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Discription</td>
		                    <td>{{form.dis_index1}}</td>
	                    </tr> -->
	                    {{form}}
						<tr>
							<td>
						<input type ="submit" class="btn btn-success" value ="Update"/>
						<a href='/home-admin' class="btn btn-default" role="button">Cancel</a>
						</td>
        				</tr>
					 </tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

{% endblock %}
