{% extends 'base.html' %}

{% block content %}


      <form name="myForm" onsubmit="return validateForm()" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        
              <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Icon page- add new icons </h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
						<table class="table table-hover table-bordered">

							<tbody>
								<tr class="success">
									<td>Icon image</td>
									<td><input type="file" name="icon_image" required/></td>
								</tr>
								
								<tr class="success">
									<td>Enter Title</td>
									<!-- <td><input type="month" name="date_no" required/></td>
								</tr> -->
                <td>
                  <!-- <input type="date" data-date-inline-picker="true" name="date_no" /> -->
                  <input type="text" name="icon_title" required/></td> 
                </td>
                </tr>	
                <tr class="success">
                  <td>Enter URL</td>
                  <!-- <td><input type="month" name="date_no" required/></td>
                </tr> -->
                <td>
                  <!-- <input type="date" data-date-inline-picker="true" name="date_no" /> -->
                  <input type="text" name="icon_url" required/></td> 
                </td>
                </tr>							
								<tr>
									<td></td>
									<td><button type="submit" class="btn btn-primary" name="btn" text="save">submit</button>
                  <a href='/icon-admin' class="btn btn-default" role="button">Cancel</a></td>
								</tr>
							</tbody>
						</table>
					</div>
                  </div>
              </div>
              
      </form>

  
{% endblock %}
