{%extends 'base.html'%}

{% block content%}



        <form method = "GET" action ="">
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Home Page top - intro details</h3>
                  </div>
                  <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                                <th> Sub_Title</th>
                            </tr>
                        
                            {% for obj in queryset6 %}
                            <tr>
                                <td><img class="img-circle" src="{{obj.image_bg1.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                <td>{{obj.title_index1}}</td>
                                <td>{{obj.sub_title}}</td> 
                            </tr>
                           {% endfor %} 
                            
                            <td><a href='/index_top_update' class="btn btn-success" role="button">Update</a></td>
                            
                             
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </form>

        <form method = "GET" action ="">
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Home page middle- intro details</h3>
                  </div>
                  <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Icon</th>
                                    <th>Title</th>
                                    <th>Discription</th> 
                                </tr>
                                {% for obj in queryset7 %} <!--First-->
                                <tr>
                                    <!--<td>{{obj.image}}</td>-->
                                    <td><img class="img-circle" src="{{obj.icon_image1.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    <td>{{obj.title_index2}}</td>
                                    <td width="500px">{{obj.dis_index1}}</td>  
                                </tr>
                                {% endfor %}
                                    <td><a href='/index_mi1_update' class="btn btn-success" role="button">Update</a></td>
                                
                                 
                            </tbody>
                        </table>

                         <table class="table table-hover social-icon-admin">
                            <tbody>
                                <tr>
                                    <th>Image</th>
                                    <th>Icon</th>
                                    <th>Title</th>
                                    <th>Discription</th>
                                    <th>url</th>
                                    <th>Update</th>
                                    
                                </tr>
                                {% for obj in queryset71 %} 
                                <tr>
                                    
                                    <td><img class="img-circle" src="{{obj.image_bg2.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    <td><img class="img-circle" src="{{obj.icon_image2.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    <td>{{obj.title_index3}}</td>
                                    <td>{{obj.dis_index2}}</td>
                                    <td>{{obj.home_icon_url}}</td>
                                    <td><a href='/{{obj.id}}/index_mi2_update' class="btn btn-success" role="button">Update</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <!-- <table class="table table-hover social-icon-admin">
                            <tbody>
                                <tr>
                                    
                                    <th>Image</th>
                                    <th>Icon</th>
                                    <th>Title</th>
                                    <th>Discription</th>
                                    <th>Update</th>
                                    
                                </tr>
                                {% for obj in queryset72 %} 
                                <tr>
                                    
                                    <td><img class="img-circle" src="{{obj.image_bg2p1.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    <td><img class="img-circle" src="{{obj.icon_image2p2.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    <td>{{obj.title_index3p3}}</td>
                                    <td>{{obj.dis_index2p4}}</td>
                                       <td><a href='/index_mi3_update' class="btn btn-success" role="button">Update</a></td>
                                  
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table> -->

                        <!-- <table class="table table-hover social-icon-admin">
                            <tbody>
                                <tr>
                                    <th>Image</th>
                                    <th>Icon</th>
                                    <th>Title</th>
                                    <th>Discription</th>
                                    <th>Update</th>
                                    
                                </tr>
                                {% for obj in queryset73 %} 
                                <tr>
                                    
                                    <td><img class="img-circle" src="{{obj.image_bg2p5.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    <td><img class="img-circle" src="{{obj.icon_image2p6.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    
                                    <td>{{obj.title_index3p7}}</td>
                                    <td>{{obj.dis_index2p8}}</td>
                                     <td><a href='/index_mi4_update' class="btn btn-success" role="button">Update</a></td>
                                     
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table> -->
                    </div>
                </div>
            </div>
        </form>

        <form method = "GET" action ="">
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Home page middle2- intro details</h3>
                  </div>
                  <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                            </tr>
                            {% for obj in queryset8 %}
                            <tr>
                                <!--<td>{{obj.image}}</td>-->
                                <td><img class="img-circle" src="{{obj.image_bg3.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                <td>{{obj.title_index4}}</td> 
                            </tr>
                            {% endfor %}
                                <td><a href='/index_semi_mi_update' class="btn btn-success" role="button">Update</a></td>
                            
                             
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </form>

        <form method = "GET" action ="">
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Home page bottom - intro details </h3>
                  </div>
                  <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Icon</th>
                                    <th>Title</th>
                                    <th>Discription</th>
                                    <th>Image</th>
                                </tr>
                                {% for obj in queryset9 %}
                                <tr>
                                    <!--<td>{{obj.image}}</td>-->
                                    <td><img class="img-circle" src="{{obj.icon_image3.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    <td>{{obj.title_index5}}</td>
                                    <td width="500px">{{obj.dis_index3}}</td>
                                    <td><img class="img-circle" src="{{obj.image_bottom.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td> 
                                </tr>
                                {% endfor %}
                                    <td><a href='/index_buttom_update' class="btn btn-success" role="button">Update</a></td>
                                  
                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>

  
{% endblock %}