{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
    <title>
         {%for seo_qurey_home in seo_qurey_home%}
            {{seo_qurey_home.seo_title}} 
        {%endfor%}
    </title>
    {%for seo_qurey_home1 in seo_qurey_home1%}
        <meta charset="utf-8">

        <meta name="description" content="{{seo_qurey_home1.seo_discription}}">
        <meta name="keywords" content="{{seo_qurey_home1.seo_keyward}}">
    {% endfor %} 
    {% endblock %}
    
    {% block content %}

    {%for queryset6 in queryset6%}

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url({{queryset6.image_bg1.url}})">
                    <div class="container slider_effect home_slider_row"> <!-- class="slider_effect" -->
                        <div class="row slide-margin home_slider_row">
                            <div class="col-md-12 col-sm-12">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1 center">{{queryset6.title_index1}}</h1>
                                    <h2 class="animation animated-item-2 center">{{queryset6.sub_title}}</h2> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topDownarrow home_slider_row">
                        <a href="#index1"><img class="animation animated-item-3 center center-block img-responsive" src="{% static 'Amc/images/slider/downarrow.png' %}" style="width:64px;"></a>
                    </div>
                </div><!--/.item-->           
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->
    {%endfor%}

    {%for queryset7 in queryset7%}
    <section id="index1"> <!-- id="recent-works"-->
        <div class="container home_slider_row">
            <div class="center wow fadeInDown home_slider_row">
                <div class="amc_icon" style ="margin-top:83px;">
                    <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{queryset7.icon_image1.url}}" style="width:64px;">
                </div>
                <h3><b>{{queryset7.title_index2}}</b></h3>
                <div class="amc_icon home_slider_row">
                    <h4 class="lead">{{queryset7.dis_index1}}</h4>
                </div>      
            </div>
            <div class="row">
                {%for queryset71 in queryset71%}
                <div class="col-md-4">
                <a href="http://{{queryset71.home_icon_url}}">
                    <section id="services" class="service-item index_article_img1 index_features1 home-valet" style=" background-image: url({{queryset71.image_bg2.url}})">
                        <div class="index_articles">                                
                            <div class="center wow fadeInDown">
                                <img class="center-block img-responsive wow fadeInDown index_article" width="40" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{queryset71.icon_image2.url}}"/>
                            </div>

                            <div class="center wow fadeInDown">
                                <h6>{{queryset71.title_index3}}</h6>
                            </div>
                            <div class="center wow fadeInDown index_dec">    
                                <h5 class="lead1 services-wrap1">{{queryset71.dis_index2}}</h5>
                            </div>
                        </div>
                    </section>
                    </a>
                </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>  
                        <div class="row"> 
                    {% endif %}
                {%endfor%}

                <!-- {%for queryset72 in queryset72%}
                <div class="col-md-4">
                    <section id="services" class="service-item index_article_img2 index_features2 home-valet" style=" background-image: url({{queryset72.image_bg2p1.url}})">
                        <div class="index_articles"> 
                            <div class="center wow fadeInDown">
                                <img class="center-block img-responsive wow fadeInDown index_article" width="40" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{queryset72.icon_image2p2.url}}"/>
                            </div>

                            <div class="center wow fadeInDown">
                                <h6>{{queryset72.title_index3p3}}</h6>
                            </div>
                            <div class="center wow fadeInDown index_dec">     
                                <h5 class="lead1 services-wrap1">{{queryset72.dis_index2p4}}</h5>
                            </div>
                        </div>
                    </section>
                </div>
                {%endfor%} -->
                <!-- {%for queryset73 in queryset73%}
                <div class="col-md-4">
                    <section id="services" class="service-item index_article_img3 index_features3 home-valet" style=" background-image: url({{queryset73.image_bg2p5.url}})" >
                        <div class="index_articles">     
                            <div class="center wow fadeInDown">
                                <img class="center-block img-responsive wow fadeInDown index_article" width="40" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{queryset73.icon_image2p6.url}}"/>
                            </div>

                            <div class="center wow fadeInDown">
                                <h6>{{queryset73.title_index3p7}}</h6>
                            </div>
                            <div class="center wow fadeInDown index_dec"> 
                                <h5 class="lead1 services-wrap1">{{queryset73.dis_index2p8}}</h5>
                            </div>
                        </div>
                    </section>
                </div>
                {%endfor%} -->

            <div class="row home_slider_row"> 
                <div class="col-md-12 center wow fadeInDown button_btn btn_more">
                    <a class="btn_lode" href="/Blog.html/?category=ALL"><button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">MORE ARTICLES</button></a>
                </div>
            </div> <!--/.row-->    
        </div><!--/.container-->
    </section>
    {% endfor %}
        

   {%for queryset8 in queryset8%} 
   <section id="partner" style=" background-image: url({{queryset8.image_bg3.url}})">
        <div class="container home_slider_row">
            <div class="center wow fadeInDown index_middle_slider" >
                <h1 class ="home-response">{{queryset8.title_index4}}</h1>
                <a class="btn_aboutlode" href="/About.html/">
                <button type="submit" name="submit" class="btn btn-lg btn_about btn_about_effect" required="required">ABOUT US</button></a>
            </div>  

            <div class="topDownarrow index_middle_slider"> 
                <a href="#index2" class="topDownarrow"><img class="animation animated-item-3 center center-block img-responsive" src="{% static 'Amc/images/slider/downarrow.png' %}" style="width:64px;"></a>
            </div> 
        </div><!--/.container-->
    </section><!--/#partner-->

    {%endfor%}




     {%for queryset9 in queryset9%}


    <section id="index2"> 
        <div class="container home_slider_row">
            <div class="center wow fadeInDown">
                <div class="amc_icon" style = "margin-top:83px;">
                    <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{queryset9.icon_image3.url}}" style="width:64px;">
                <div>
                <h3><b>{{queryset9.title_index5}}</b></h3>
                <div class="amc_icon">
                    <h4 class="lead">{{queryset9.dis_index3}}</h4>
                <div class="amc_icon">
            </div>
            <div class="row home_slider_row">
                 <div class="col-md-12">
                    <img class="img-responsive center-block digital_img" src="{{queryset9.image_bottom.url}}" width="500px" alt=""  />
                    <div class="center wow fadeInDown button_btn">
                        <a class="btn_lode" href="/Services.html/">
                         <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">BROWSE SERVICES</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>   

    {%endfor%}

{% endblock %}
    



