<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/animate.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/prettyPhoto.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/responsive.css' %}">
	</head>
	<body>
		<script src="{% static 'Amc/js/jquery.js' %}"></script>
		<script src="{% static 'Amc/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'Amc/js/jquery.prettyPhoto.js' %}"></script>
		<script src="{% static 'Amc/js/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'Amc/js/main.js' %}"></script>
		<script src="{% static 'Amc/js/wow.min.js' %}"></script>
	</body>
</html>