{% extends 'base.html'%}
{% block content %}
		
		<div class="panel panel-warning">
			<div class="panel-heading">Admin Panel Portfolio</div>
				<div class="panel-body">
					<table class="table table-hover">
					<form action="" method="POST" enctype="multipart/form-data">
						<thead>
							<tr>
								<th>Icon</th>
								<th>Title</th>
								<th>Image</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{form.Icon}}</td>
								<td>{{form.Title}}</td>
								<td>{{form.Image}}</td>
								
								
								
								<td><button>Add</button></td>
							</tr>
						</tbody>
						</form>
					</table>
				</div>
		</div>
		


{% endblock %}