{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
    <title>

                {%for seo_qurey_portfolio in seo_qurey_portfolio%}
                    {{seo_qurey_portfolio.seo_title}} 
                {%endfor%}
            </title>
                {%for seo_qurey_portfolio1 in seo_qurey_portfolio1%}
                    <meta charset="utf-8">
                    <meta name="description" content="{{seo_qurey_portfolio1.seo_discription}}">
                    <meta name="keywords" content="{{seo_qurey_portfolio1.seo_keyward}}">
                {% endfor %} 
{% endblock %}
    
{% block content %}

    <section id="recent-works" class="blog-margin-top">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 main">
              <form action="">{% csrf_token %}
                <select id="dropdown_category" class="portfolio_submenu sub-category all_menu" 
                        onchange="location = {{category}}">
                            
                            {% if "{{category_selected}}" != "ALL" %}
                            <option value="/Portfolio.html?category={{category_selected}}" href="/Portfolio.html?category={{category_selected}}" selected disabled hidden><h5>{{category_selected}}</h5></option> 
                            {% endif %}

                            <option value="/Portfolio.html?category=ALL" href="/Portfolio.html?category=ALL"><h5>ALL</h5></option>
                          
                            {% for obj in category %}
                            <option value="/Portfolio.html?category={{obj.category}}" href="/Portfolio.html?category={{obj.category}}"><h5>{{obj.category}}</h5></option>
                            {% endfor %}
                        </select>
              </form>
            </div>
        </div>   
    </section>   

    <section id="recent-works">
        <div class="container">
            {% for portfolio in instance %}
            <div class="center wow fadeInDown">
                <div class="col-md-12 col-sm-12 col-xs-12 portfolio_gallery">
                    <div class="portfolio_content">
                        <img src="{{portfolio.web_icon.url}}" class="portfolio_content_logo" style="width:64px">
                        <h3><b>{{portfolio.web_title}}</b></h3>
                        <a class="preview" href="//{{portfolio.web_url}}"> 
                            <img src="{{portfolio.web_image.url}}" class="img-responsive portimg" title="Click to visit">
                         </a>    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!--/.container-->
    </section><!--/#services-->

    <!--<section id="recent-works">
         <div class="container">
            <div class="center wow fadeInDown">
            {% for portfolio in instance2 %}
                <div class="col-md-12 col-sm-12 col-xs-12 portfolio_gallery">
                    <div class="portfolio_content">
                        <img src="{{portfolio.mob_icon.url}}" class="portfolio_content_logo" style="width:64px">
                        <h3><b>{{portfolio.mob_title}}</b></h3>
                        <a class="preview" href="https://{{portfolio.mob_url}}"> <img src="{{portfolio.mob_image.url}}" class="img-responsive portimg" title="Click to visit">
                         </a>    
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> -->
    <!--/#services-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown button_space">
                 <p class="lead">
                    To Find out more
                 </p>
                

            <a href="/Contact-us.html/" class="btn_lode" >
            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">
                
                    CONTACT US
                
            </button></a>
             </div> 
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <script>
document.getElementById('dropdown_category').onchange = function() {
    window.location.href = this.children[this.selectedIndex].getAttribute('href');
}
</script>
{% endblock %}