{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
    <title> AMC | Portfolio-mobile </title>
{% endblock %}
    
{% block content %}
			<section id="recent-works">
        		<div class="container">
            		<div class="center wow fadeInDown">
              		<!-- Submenu -->
                		<div class="container main blog-body">        
                    		<div class="col-md-12 col-sm-12 col-xs-12">
                        		<ul class="portfolio_submenu">
                            		<li><a href="/portfolio-mobile/"><h5>MOBILE</h5></a></li>
                                    <li><a href="/portfolio-website/"><h5>WEBSITE</h5></a></li>
                                    <li><a href="/Portfolio.html/"><h5>ALL</h5></a></li>
                        		</ul>
                    		</div>
                		</div>
                	<!-- Submenu -->
            		</div>
       			 </div><!--/.container-->
    		</section><!--/#recent-works-->
    		<section id="recent-works">
       			<div class="container">
            		<div class="center wow fadeInDown">
            		{% for portfolio in portfolio %}
                		<div class="col-md-12 col-sm-12 col-xs-12 portfolio_gallery">
                    		<div class="portfolio_content">
                        		<img src="{{portfolio.mob_icon.url}}" class="portfolio_content_logo" style="width:64px">
                        		<h3><b>{{portfolio.mob_title}}</b></h3>
                                <a class="preview" href="https://{{portfolio.mob_url}}"> <img src="{{portfolio.mob_image.url}}" class="img-responsive portimg" title="Click to visit">
                                 </a>    
                    		</div>
                		</div>
                		{% endfor %}
            		</div>
        		</div><!--/.container-->
    		</section><!--/#services-->

    		<section id="recent-works">
        		<div class="container">
            		<div class="center wow fadeInDown button_space">
               			 <p class="lead">
               			 	To Find out more
               			 </p>
                		

                	<a href="/Contact-us.html/" class="btn_lode" >
                    <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">
                        
                            CONTACT US
                        
                    </button></a>
           			 </div> 
        		</div><!--/.container-->
    		</section><!--/#recent-works-->
{% endblock %}