{%extends 'base.html'%}

{% block content%}



        <form method = "GET" action ="">
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">SEO- Title</h3>
                  </div>
                  <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Keyword</th>
                                <th>Page</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        
                            {% for obj in seo_qurey %}
                            <tr>
                                <td>{{obj.id}}</td>
                                <td>{{obj.seo_title}}</td>
                                <td>{{obj.seo_discription}}</td>
                                <td>{{obj.seo_keyward}}</td> 
                                <td>{{obj.seo_page}}</td>
                               <td><a href='/{{obj.id}}/seo-update/' class="btn btn-success" role="button">Update</a></td>
                               <td><a href='/{{obj.id}}/seo-delete/' class="btn btn-warning" role="button">Delete</a></td>
                            </tr>
                           {% endfor %}
                            <tr>
                                <td>
                                    <a href='/seo-add' class="btn btn-primary" role="button">Add New</a>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </form>

<!--  <form method = "GET" action ="">
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">SEO blog- intro details</h3>
                  </div>
                  <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th> Discription</th>
                                <th>Keyward</th>
                                <th>Page</th>
                            </tr>
                        
                            {% for obj in seo_qurey %}
                            <tr>
                                <td>{{obj.id}}</td>
                                <td>{{obj.seo_title}}</td>
                                <td>{{obj.seo_discription}}</td>
                                <td>{{obj.seo_keyward}}</td> 
                                <td>{{obj.seo_page}}</td>
                            </tr>
                             <td><a href='/{{obj.id}}/seo_update_blog/' class="btn btn-success" role="button">Update</a></td>
                           {% endfor %} 
                            
                           
                            
                             
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </form>
 -->
  
{% endblock %}