
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head><title> AMC | SEO-hms</title>
</head><!--/head-->

<body class="homepage">

{% include 'webpage/layout.html' %}
{% include 'webpage/header.html' %}
    {%for seo_qurey in seo_qurey%} 


    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">

                
                    <div class="container slider_effect">
                        <div class="row slide-margin">
                            <div class="col-sm-12">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1 center">{{seo_qurey.seo_title}}</h1>
                                    <h1 class="animation animated-item-2 center">{{seo_qurey.seo_discription}}</h1>
                                    <h1 class="animation animated-item-2 center">{{seo_qurey.seo_keyward}}</h1>
                                     <h1 class="animation animated-item-2 center">{{seo_qurey.seo_page}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    

               
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
       
    </section><!--/#main-slider-->
     {%endfor%} 



    
    {% include 'webpage/footer.html' %}
    <!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>
