{% extends 'base.html'%}

{% block content %}

    <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Title-  Add</h3>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                   <!--  <tr>
	                    <td>Enter Title</td>
	                    <td>{{form.seo_title}}</td>
                    </tr>
                    <tr>
	                    <td>Enter Description</td>
	                    <td>{{form.seo_discription}}</td>
                    </tr>
                    <tr>
	                    <td>Enter Keywords</td>
	                    <td>{{form.seo_keyward}}</td>
                    </tr>
                    <tr>
                        <td>Enter Page Name</td>
                        <td>{{form.seo_page}}</td>
                    </tr> -->
                    {{form}}
					<tr>
                    
						<td>
							<input type ="submit" class="btn btn-primary" value ="Add"/>
                            <a href='/seo-admin' class="btn btn-default" role="button">Cancel</a>
						</td>
					</tr>
				</tbody>
	          </table>
	        </div>
	      </div>
	    </div>
	</form>
	
{% endblock %}





