{% extends 'base.html' %}

{% block content %}

		<div class ="box">
			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">HMS top page- update details</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
	                    <!-- <tr>
	                    	
		                    <td>Select Image</td>
		                    <td>{{form.image}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Title</td>
		                    <td>{{form.text_title1}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Sub_Title</td>
		                    <td>{{form.text_title2}}</td>
	                    </tr> -->
	                    {{form}}
						<tr><td>	
						<input type ="submit" class="btn btn-primary" value ="Update"/>
						<a href='/hms-admin' class="btn btn-default" role="button">Cancel</a></td>
					</tr>
					</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
			</form>
		</div>
	
{% endblock %}
