

.navbar-toggle{
  margin-right: 10px
}
.signout-btn {
  color: #fff !important; 
  text-decoration:None; 

  }

.signout-btn:hover {
  color:'#000000';
  text-decoration:None;
  }
.user-name {
  color:white;

}


.portfolio_submenu{
  margin-top: -60px !important;
  /*padding: 0;*/
  overflow: hidden;
  /*background-color: white;*/
  /*background-color: #333;*/
  text-transform: uppercase;
}

.portfolio_submenu li{
  display: inline;
  font-weight: bold;
  padding: 14px 16px;
  
}

.portfolio_submenu li a{
  color: #000000;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  float: right;
}

.portfolio_submenu li a h5{
    font-weight: normal;
}

.portfolio_submenu li a:hover{
  text-decoration: none;
  color: black;
  background-color: #f3f3f3;
  cursor: pointer;
}

.wrapper-style {
  height:600px; 
  overflow:auto;
}

.email-center {
  width : 100px; 
  height : 100px; 
  margin-top:170px;
}

#dropdown_category {
  text-align: right;
}

.social-icon-admin td img{
  background-color: #bfb8b8;
}

.post-date h6{
  font-family:OpenSans-Bold, sans-serif;
  font-size: 14px;
  color:#000;
  font-weight: 100px;
}


/*This class use for contact us page */
.icon-down {
  margin-top: 95px;
}

 /* This class use for portfolio page*/
.icon-down-portfolio{
 margin-top: 143px;
}


/*This class use for HMS page */
.icon-down-hms {
  margin-top: 147px;
}

/*This class use for services page */
.icon-down-services {
  margin-top: 147px;
}



/*This class use for about page */
.icon-down-about {
  margin-top: 147px;
}

/*This class use for home page */
.icon-down-home {
  margin-top: 147px;
}

/*This class use for blog page */
.icon-down-blog {
  margin-top: 80px;
}

/*This class use for blog category page*/
.icon-down-blog-cat{
  margin-top: 20px;

}

/*This class use for blog listing page*/
.icon-down-blog-cat-list{
  margin-top: 3vh !important;
}

@media only screen and (max-width: 320px){
#dropdown_category{
    margin-top: -66px;
    margin-right: 0px;
  }

  .icon-down-blog-cat-list {
    margin-top: 70px;
}
.sub-category{
  margin-right: -16px;
}
.portfolio_submenu {
    margin-top: -70px !important;
   }

}
.blog-date{
  text-align: center;
}

.blog-titles{
  text-align: left;
}

.blog-cat11{
  padding-top: 12px;
}


@media only screen and (max-width: 375px){
#dropdown_category{
    margin-top: -66px;
    margin-right: 0px;
  }

  .icon-down-blog-cat-list {
    margin-top: 70px;
  }
  /*HMS Page*/
  #services{
    height: 205px !important;
}



    .spoon-img {
      margin-top: 28px;
}
#services h2 {
    margin-top: 0px;
}

.sub-category{
  margin-right: -16px;
}
.portfolio_submenu {
    margin-top: -70px !important;
   }
   .all_menu{
    margin-right: -10px !important;
   }

}

@media only screen and (min-width: 768px){
/*  #services{
    height: 432px !important;
}*/


  .icon-down-blog-cat-list {
    margin-top: 70px;
  }

@media only screen and (max-width: 768px){
.portfolio_submenu{
  margin-top: 8px !important;
}

.hms-quicky{
  margin-top: 175px !important;
}
}


/*  .portfolio_submenu{
  margin-top: 8px !important;
}*/

/*.amc_icon{
    margin-top: 156px ! important;
  }*/

}



/*HMS page image size increase*/
.image-height{
  height: 320px !important;


}
/*Home page 320px images height*/

/*.home-image-height{
  height: : 315px;
}
*/
.blog-margin-top{
  margin-top: 153px;
}

.blogcat-margin-top{
  margin: 78px 0px 29px;
}

.blogcat-margin-top a{
  float: right;
  color: #000;
}

.read-more-div{
  text-align: center; 
  margin-top: 0px;
  padding-bottom:20px
}

.read-more-first-div{
  text-align: left; 
  margin-top: 0px;
  padding-bottom:20px
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .blog-margin-top{
    margin-top: 225px !important;
  }
  .blogcat-margin-top{
    margin-top: 160px;
  }
}