{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
    <title> AMC | Articles </title>
{% endblock %}
    
{% block content %}

    <div class="container main blog-body">        
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="portfolio_submenu">
                <li><a href="/Articles.html/"><h5>ARTICLES</h5></a></li>
                <li><a href="/Blog.html/"><h5>BLOG</h5></a></li>
            </ul>
        </div>
    </div>
   <section class="pricing-page">

        <div class="container">
                     
            <div class="pricing-area text-center">
             
                <div class="row"> 
                    {% for instance in instance %}
                    <div class="col-md-6 plan price-four wow fadeInDown">
                    
                        <div class="blog_date1" style="background-image: url({{instance.art_image.url}})">
                            <div class="blog_date_back">
                                <h2 class="blog_date_back_h1"><b>{{instance.art_date}}</b><hr class="blog_date_back_hr">
                               <p class="blog_date_back_p">{{instance.art_month}}</p></h2>
                            </div>                             
                        </div>
                        <div class="blog_section">
                            <h5 class="blog_cal"><i class="fa fa-calendar-o cal_font" aria-hidden="true">{{instance.art_calendar}}&nbsp;</i>by &nbsp;{{instance.art_author}}</h5>
                            <h4 class="blog_gallary_title">{{instance.art_title}}</h4>
                            <h5 class="blog_gallary_para">{{instance.art_description}}</h5>
                        </div>
                    </div>
                  {% endfor %}  
                </div>
             
             </div>
        
        </div>  
     
             
    </section><!--/pricing-page-->
   
    
{% endblock %}