{% load static %}

<!DOCTYPE html>
<html>
  <head>

    <title>AMC-Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="google-site-verification" content="wLQ6_xFqbO0ZFJWiI36SWT3pmUhi_M3hJ0eYwdJa7z4"/>
    <link rel="icon" href="{% static 'amc.png'%}" type="image/png">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"  media="screen">
    <link rel="stylesheet" href="{% static 'bootstrap-datetimepicker.min.css' %}"  media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/amc_style.css' %}">

  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        
        <a href="/Home.html/"  target="_blank" class="logo">
          
          <span class="logo-lg"><b>AMC</b></span>
        </a>
        
        <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <a href="/logout" class="btn btn-link signout-btn">Sign out</a>
      </div>
      </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <h5 class = "user-name">Welcome : {{current_user}}</h5>
            </div>
            <div class="pull-left info">
              <p></p>
            </div>
          </div>
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class=" treeview">
              <a href="/home-admin/">
                <span>Home</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/aboutus-admin/">
                <span>About us</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/services-admin">
                <span>Services</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/hms-admin/">
                <span>HMS</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li>
              <a href="/blog-post-admin/">
               <span>Blog</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/portfolio-admin/">
                <span>Portfolio</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/contact-us-admin/">
                <span>Contact Us</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/footer-admin/">
                <span>Footer</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/copy-right-admin/">
                <span>Copy Right Quotes</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/icon-admin/">
                <span>Social Media Icons</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/seo-admin/">
                <span>SEO</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
          </ul>
        </section>
        
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper wrapper-style">
        <!-- <section class="content-header">
          <h1>
            General Form Elements
            <small>Preview</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
          </ol>
        </section> -->
        <section class="content">
          {% block content %}

          {% endblock %}
        </section>
        
      </div>


      <footer class="main-footer">
        
        <div class="pull-right hidden-xs">
          <!-- <b>Version</b> 2.3.7 -->
        </div>
        {% for quotes in copyright%}
        <strong>{{quotes.copy_right_quote}}</strong>
        {% endfor %}
      </footer>

    </div>
   


    <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>

   <!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->

    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{% static 'plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script> 
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'plugins/knob/jquery.knob.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    
    <script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'dist/js/demo.js' %}"></script>  

    <script src="{% static 'Amc/js/jquery.js' %}"></script>
    <script src="{% static 'Amc/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Amc/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'Amc/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'Amc/js/main.js' %}"></script>
    <script src="{% static 'Amc/js/wow.min.js' %}"></script>


    <!-- <script type="text/javascript" src="{% static 'date/jquery/jquery-1.8.3.min.js' %}" charset="UTF-8"></script> -->
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>


<!-- jQuery 2.2.3 -->
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/app.min.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/build-config.js' %}"></script>   
<script src="{% static 'ckeditor/config.js' %}"></script>   
<script src="{% static 'ckeditor/styles.js' %}"></script>


<script>
  setTimeout(function(){
    $("#id_blog_description").css({"width":"100%", "height":"100%"}); 
    CKEDITOR.replace( '#id_blog_description' );
  }, 100);
</script>

  </body>
</html>





