{% extends 'base.html' %}
{% block content %}
<!-- <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="blog_submenu">
            <li><a href="/article-admin/"><h5>Website</h5></a></li>
            <li><a href="/blog-admin/"><h5>Mobile</h5></a></li>
        </ul>
    </div> -->

      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        
        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Blog-Admin</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                

                    <table class="table table-hover">
                      <tbody>
                    <tr>
                   
                      <th>Image</th>
                      <th>Blog Title</th>
                      <th>Description</th>
                      <th>Category</th>
                      <th>Update</th>
                      <th>Delete</th>
                    </tr>
                    {% for blog in post %}
                    <tr>
                      
                      <td> <img src ='{{blog.blog_image.url}}' height="50" width="50" class= "img-responsive"></td>
                      <td>{{blog.blog_title}}</td>
                      <td>{{blog.blog_description|safe|linebreaksbr|slice:":250"}}...</td>
                      <td>{{blog.category}}</td>
                      <td><a href='/{{blog.id}}/blog-post-update/' class="btn btn-success" role="button">Update</a></td>
                      <td><a href='/{{blog.id}}/blog-post-delete/' class="btn btn-warning" role="button">Delete</a></td>
                    </tr>
                      {% endfor %}
                      <tr>
                      <td><a href='/blog-post-add/' class="btn btn-primary" role="button">Add</a></td>
                    </tr>
    
                  </tbody>
                </table>
								</div>
						</div>
					</div>

			<!-- <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Porfolio-Mobile-product contents</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                      <tbody>
                    <tr>
                   
                      <th>Icon</th>
                      <th>Title</th>
                      <th>Image</th>
                      <th>Category</th>
                      <th>URL</th>
                      <th>Update</th>
                      <th>Delete</th>
                    </tr>
                    {% for con in instance2 %}
                    <tr>
                      
                      <td> <img src ='{{con.mob_icon.url}}' height="50" width="50" class= "img-responsive"></td>
                      <td>{{con.mob_title}}</td>
                      
                     
                      <td> <img src ='{{con.mob_image.url}}' height="50" width="50" class= "img-responsive"></td>
                      <td>{{con.mob_category}}</td>
                      <td>{{con.mob_url}}</td>
                      <td><a href='/{{con.id}}/mob-product-update/' class="btn btn-success" role="button">Update</a></td>
                      <td><a href='/{{con.id}}/mob-product-delete/' class="btn btn-warning " role="button">Delete</a></td>
                    </tr>
                      {% endfor %}
                      <tr>
											<td><a href='/mob-product-add/' class="btn btn-primary" role="button">Add</a></td>
										</tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div> -->

        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Blog-Category</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                      <tbody>
                    <tr>
                      <th>ID</th>
                      <th>Category Name</th>
                      <th>Update</th>
                      <th>Delete</th>
                    </tr>
                    {% for con in category %}
                    <tr>
                      <td>{{con.id}}</td>
                      <td>{{con.category}}</td>
                      <td><a href='/{{con.id}}/blog-category-update/' class="btn btn-success" role="button">Update</a></td>
                      <td><a href='/{{con.id}}/blog-category-delete/' class="btn btn-warning " role="button">Delete</a></td>
                    </tr>
                    {% endfor %}
                      <tr>
                      <td><a href='/blog-category-add/' class="btn btn-primary" role="button">Add</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
		  </form>

  {% endblock %}


