{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
    <title>
            {%for seo_qurey_blog in seo_qurey_blog%}
                {{seo_qurey_blog.seo_title}} 
            {%endfor%}
    </title>
        
        {%for seo_qurey_blog in seo_qurey_blog%}
        <meta charset="utf-8">

        <meta name="description" content="{{seo_qurey_ser1.seo_discription}}">
        <meta name="keywords" content="{{seo_qurey_ser1.seo_keyward}}">
       {% endfor %}
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
        <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/amc_style.css' %}">
         <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/main.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
    
{% block content %}

<body class="homepage">  
    
    <section id="recent-works" class="blog-margin-top">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 main">
                <select id ="dropdown_category" class="portfolio_submenu sub-category" onchange="location=this.value;">
                     {% if "{{category_selected}}" != "ALL" %}
                     <option value="/Blog.html?category={{category_selected}}" selected disabled hidden>
                        <h5>{{category_selected}}</h5>
                    </option>
                    {% endif %}
                    <option value="/Blog.html?category=ALL">
                        <h5>ALL</h5>
                    </option>
                    {% for obj in category %}
                    <option value="Blog.html?category={{obj.category}}">
                        <h5>{{obj.category}}</h5>
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>   
    </section>    

    <section id="recent-works">
        <div class="container">        
            <!-- <div class="row center">
                <div class="col-md-12 col-sm-12 col-xs-12 blogcategory_gallery"> 
                    <div id="blogcategory">
                        <div class="blog_div1">
                        <a href="/{{first_post.id}}/blog-details/">
                            <h5 >{{first_post.category}}</h5>
                            </a>
                            <a href="/{{first_post.id}}/blog-details/">
                                <h3><strong>{{first_post.blog_title}}</strong></h3>
                            </a>
                            <h6>{{first_post.created_date|date:"F d, Y"}}</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 blogimage" >
                    <a href="/{{first_post.id}}/blog-details/"> <img src="{{first_post.blog_image.url}}" class="img-responsive blogimg"></a>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 blog_paragraph blogcategory_gallery">
                    <p>{{first_post.blog_description|safe|linebreaksbr|slice:":250"}}
                    </p>
                    <div class="read-more-first-div">
                        <a class="read-more big blog-links" href="/{{first_post.id}}/blog-details/">Read More...</a>
                    </div>
                </div>
            </div> -->

            <div class="row center">
                <div class="col-md-12 col-sm-12 col-xs-12 blogcategory_gallery">
                    {% for post in post_all %}
                    <div class="col-md-6">
                        <a href="/{{post.id}}/blog-details/">
                            <img src="{{post.blog_image.url}}" class="img-responsive blogimg">
                        </a>
                        <div class="bloglisting">
                            <div class="blog_div1 blogcategory_gallery">
                            <a href="/{{post.id}}/blog-details/">
                                <h5 class="media blog-cat11">{{post.category}}</h5>
                                </a>
                                <a href="/{{post.id}}/blog-details/">
                                    <h3 class="big blog-titles"><strong>{{post.blog_title}}</strong></h3>
                                </a>
                                <p>{{post.blog_description|safe|linebreaksbr|slice:":250"}}</p>
                                
                                <div class="read-more-div">
                                    <a class = "read-more big blog-links" href="/{{post.id}}/blog-details/">Read More...</a>
                                </div>


                                <h6 class="blog-date">{{post.created_date|date:"F d, Y"}}</h6>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                </div>
            </div>

            <div class = "row center">
                <div class="col-md-12 col-sm-12 col-xs-12 blogcategory_gallery">
                    {% endif %} 
                    {% endfor %}
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#services-->
    <script>
        $(".portfolio_submenu").onchange = function() {
            window.location.href = this.children[this.selectedIndex].getAttribute('href');
        }
    </script>
</body>
{% endblock %}
