{% extends 'webpage/base_front_end.html'%}
{% load static %}

{% block content_title %}
    <title>
            {%for seo_qurey_blog in seo_qurey_blog%}
                {{seo_qurey_blog.seo_title}} 
            {%endfor%}
    </title>
        
        {%for seo_qurey_blog in seo_qurey_blog%}
        <meta charset="utf-8">

        <meta name="description" content="{{seo_qurey_ser1.seo_discription}}">
        <meta name="keywords" content="{{seo_qurey_ser1.seo_keyward}}">
       {% endfor %}
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
        <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/amc_style.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% endblock %}
    
{% block content %}

<body class="homepage"> 

    <section id="blog-works" class="blogcat-margin-top">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
               <a href="../../Blog.html?category=ALL"><h5>Back To Listing</h5></a>  
            </div>
        </div>   
    </section>

<section id="blog-works">
        <div class="container">
            <div>
              <!-- Submenu -->
                <div class="main">        
                    <!-- <div class="col-md-12 col-sm-12 next_previous">
                        <div class="col-md-1 col-sm-1" align="left">
                          
                              <a id="next1" href="/{{next}}/blog-details/"><h5>NEXT</h5></a>
                        </div>

                         <div class="col-md-10 col-sm-10">
                        </div>

                         <div class="col-md-1 col-sm-1" align="right">
                          
                         <a id="prev1" href="/{{previous}}/blog-details/"><h5>PREVIOUS</h5></a>
                        </div>
                                      
                    </div> -->

                    <div class="col-md-12 col-sm-12 col-xs-12 next_previous">
                        <span style="float: right;">
                            <a id="next1" href="/{{next}}/blog-details/"><h5>NEXT</h5></a>
                        </span>

                        <span class="prev-align" style="float: left;">
                            <a id="prev1" href="/{{previous}}/blog-details/"><h5>PREVIOUS</h5></a>
                        </span>
                    </div>


                </div>
                <!-- Submenu -->
            </div>
        </div><!--/.container-->
    </section><!--/#recent-works-->
    



    
    <section id="recent-works">
       <div class="container">
            <div class="center wow fadeInDown">
                <div class="col-md-12 col-sm-12 col-xs-12 blogcategory_gallery">                      
                        <div id="blogcategory">
                            <div class="blog_div1">
                                    <h5><b>{{current_post.category}}</b></h5>
                                    <h3><strong>{{current_post.blog_title}}</strong></h3>
                                    <h6><b>{{current_post.created_date|date:"F d, Y"}}</b></h6>
                            </div>
                         
                        </div>  
                        <div class="col-md-12 col-sm-12 col-xs-12 blogimage" >
                              <img src="{{current_post.blog_image.url}}" class="img-responsive blogimg">  
                        </div>


                       <div class="col-md-12 col-sm-12 col-xs-12 blog_paragraph" >
                          <p>{{current_post.blog_description|safe|linebreaksbr}}</p>
                          <br>
                       </div>
                  

                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#services-->
    
    <section id="blog-works">
        <div class="container">
            <div>
              <!-- Submenu -->
                <div class="main">        
                    
			<div class="col-md-12 col-sm-12 col-xs-12 next_previous">
                        <span style="float: right;">
                            <a id="next1" href="/{{next}}/blog-details/"><h5>NEXT</h5></a>
                        </span>

                        <span class="prev-align" style="float: left;">
                            <a id="prev1" href="/{{previous}}/blog-details/"><h5>PREVIOUS</h5></a>
                        </span>
                    	</div>

                </div>
                <!-- Submenu -->
            </div>
        </div><!--/.container-->
    </section>

    
    
    <script>
    $(function() {
        var selectedClass = "";
        $(".fil-cat").click(function(){ 
        selectedClass = $(this).attr("data-rel"); 
         $("#portfolio").fadeTo(100, 0.1);
        $("#portfolio div").not("."+selectedClass).fadeOut().removeClass('scale-anm');
        setTimeout(function() {
          $("."+selectedClass).fadeIn().addClass('scale-anm');
          $("#portfolio").fadeTo(300, 1);
        }, 300); 
        
      });
    });
    </script>
</body>
{% endblock %}
