{% extends 'base.html' %}

{% block content %}
<form method = "POST" action ="" enctype="multipart/form-data"> 
	{% csrf_token %}
	
    <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Blog- Category Add</h3>
          </div>
          
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                
			<!-- 	<tr>
					<td><label for ="cat" > Add new blog category : </label></td>
					<td>{{blog_form.category}}</td>
				</tr> -->
        {{blog_form}}
				
				<tr>
					<td><input type ="submit" value="Submit" class = "btn btn-success"/>
          <a href='/blog-post-admin' class="btn btn-default" role="button">Cancel</a></td>
				</tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</form>
{% endblock %}