{% extends 'base.html' %}

{% block content %}

	<form method = "POST" action ="" enctype="multipart/form-data" role="form"> 
		{% csrf_token %}
		
        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Blog - Update</h3>
              </div>

              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tbody>
                   <!--  <tr>
						<td><label for ="title" > Upload blog image :</label></td>
						<td>{{blog_form.blog_image}}</td>
					</tr>
					<tr>
						<td><label for ="url" > Enter blog title: </label></td>
						<td>{{blog_form.blog_title}}</td>
					</tr>
					<tr>
						<td><label for ="url" > Enter short description: </label></td>
						<td>{{blog_form.blog_short_desc}}</td>
					</tr>
					<tr>
						<td><label for ="url" > Enter blog description: </label></td>
						<td>{{blog_form.blog_description}}</td>
					</tr> 
					
					<tr>
						<td><label for ="desc" > Enter product category : </label></td>
						<td>{{blog_form.category}}</td>-->
							{{blog_form.media}}
							{{blog_form}}

					<tr>
						<td><input type ="submit" value="Update" class = "btn btn-success"/>
						</td>
						<td><a href='/blog-post-admin' class="btn btn-default" role="button">Cancel</a></td>
					</tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

        <script>
        	setTimeout(function(){
        		$("#id_blog_description").css({"width":"100%", "height":"100%"}); 
        	}, 100);
        </script>
        <!-- <script>
    		function replacetext(id) {
			    CKEDITOR.replace(id);
			    // {{blog_form.media}};
			}
			document.getElementById("id_blog_description").onClick = replacetext('id_blog_description');
        </script> -->
	</form>

{% endblock %}
