{% extends 'base.html'%}
{% block content %}


      <form method = "GET" action ="" enctype="multipart/form-data">
        {% csrf_token %}          
        <!-- Contact us- Header BEGIN-->
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Contact Us - Header Contents</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th>ID</th>
                      <th>Background Image</th>
                      <th>Title</th>
                      <th>Header Description First-Line </th>
                      <th>Header Description Second-Line </th>
                      <!-- <th>Add New</th> -->
                      <th>Update</th>
                      
                    </tr>
                    {% for con in context %}
                    <tr>
                      <td>{{con.id}}</td>
                      <td> <img src ='{{con.con_icon_img.url}}' height="50" width="50" class= "img-responsive"></td>
                      <td>{{con.con_title}}</td>
                      <td>{{con.con_desc1}}</td>
                      <td>{{con.con_desc2}}</td>
                      <!-- <td><a href='/header-add' class="btn btn-primary" role="button">Add New</a></td> -->
                      <td><a href='/{{con.id}}/con-header-update/' class="btn btn-success" role="button">Update</a></td>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </form>
 
{% endblock %}