{% extends 'base.html' %}

{% block content %}

		
			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Copy Right Quotes update</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
	                        <!-- <tr>
								<td><label for ="title" > Enter the Copy Rights Quotes :</label></td>
								<td>{{copy_right_form.copy_right_quote}}</td>
							</tr> -->
							{{copy_right_form}}
							<tr>
								<td><input type ="submit" value="Update" class = "btn btn-success"/>
								<a href='/copy-right-admin' class="btn btn-default" role="button">Cancel</a></td>
							</tr>
	                      </tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
			</form>
	
{% endblock %}
