<!DOCTYPE html>
{% load static %}
<html>
<head>

	<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/animate.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/prettyPhoto.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Amc/css/responsive.css' %}">
	
	<script src="{% static 'Amc/js/jquery.js' %}"></script>
	<script src="{% static 'Amc/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'Amc/js/jquery.prettyPhoto.js' %}"></script>
	<script src="{% static 'Amc/js/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'Amc/js/main.js' %}"></script>
	<script src="{% static 'Amc/js/wow.min.js' %}"></script>
</head>
<body>

</body>
</html>