<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>

        <title> AMC | Services</title>
    	
    </head>

<body class="homepage">
    {% include 'webpage/layout.html' %}
    {% include 'webpage/header.html' %}
    <!-- <header id="header">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home.html/"><img src="{% static 'Amc/images/MENU_BAR/logo.png'%}" alt="logo"     width="121px"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/About.html/">About</a></li>
                        <li><a href="/Services.html/">Services</a></li>
                        <li><a href="/HMS.html/">HMS</a></li> 
                        <li><a href="/Blog.html/">Blog</a></li>
                        <li><a href="/Portfolio.html/">Portfolio</a></li>
                        <li><a href="/Contact-us.html/">Contact us</a></li> 
                        <li><div class="social">
                            <ul class="social-share">
                                <li><a href="#"><img src="{% static 'Amc/images/MENU_BAR/facebook.png'%}" alt="logo" width="26px"></a></li>
                                <li><a href="#"><img src="{% static 'Amc/images/MENU_BAR/twitter.png'%}" alt="logo" width="26px"></a></i></a></li>
                                <li><a href="#"><img src="{% static 'Amc/images/MENU_BAR/linkedin.png'%}" alt="logo" width="26px"></a></a></li>
                            </ul>
                       </div></li>                      
                    </ul>
                </div>
        </nav> --><!--/nav-->
		
   <!--  </header> -->   <!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">
                {% for obj in instance %}
                <div class="item active" style=" background-image:url({{obj.header_bgimage.url}})">
                    <div class="container slider_effect">
                        <div class="row slide-margin">
                            <div class="col-sm-12">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1 center">{{obj.header_title}}</h1>
                                    <h2 class="animation animated-item-2 center">{{obj.header_description}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topDownarrow">
                                    <a href="#services1"><img class="animation animated-item-3 center center-block img-responsive" src={% static "Amc/images/slider/downarrow.png" %} style="width:64px;"></a>
                                </div>
                </div>
                {% endfor %}
                
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->
   
    <section id="services1"> <!-- id="recent-works" -->
        <div class="container">
            {% for obj in instance2 %}
            <div class="center wow fadeInDown">
                <div class="amc_icon">
                    <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{obj.plan_image.url}}" style="width:64px;">
                </div>
                <h3>{{obj.plan_title}}</h3>
                <div class="amc_icon">
                      <h4 class="lead">{{obj.plan_description}}</h4>
                </div> 
            </div><!--/.row-->
            {% endfor %}
        </div><!--/.container-->
    </section><!--/#recent-works-->
   

    <section id="feature" >
        <div class="container"> 
            <div class="row">
                <div class="features">
                    {% for obj in instance3 %}   
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-md-12" id="foundation">
                                
                                    <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{obj.features_image.url}}" alt="foundation" style="width:64px;margin:0px 35%">
                              
                                <div class="col-md-12 ">
                                    <h2 style="text-align:center;"><strong>{{obj.features_title}}</strong></h2>
                                    <p style="text-align: justify;">{{obj.features_description}}</p>
                                </div>
                            </div>
                        </div>
                    </div><!--/.col-md-4--> 
                    {% endfor %}                   
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->


    <section id="recent-works">
        <div class="container">
            {% for obj in instance4 %}
            <div class="center wow fadeInDown">
                <div class="amc_icon">
                    <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{obj.our_image.url}}" style="width:64px;">
                </div>
                 <h3>{{obj.our_title}}</b></h3>
                <div class="amc_icon">
                      <h4 class="lead">{{obj.our_description}}</h4>
                </div> 
            </div><!--/.row-->
            {% endfor %}
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="portfolio-items">
                    {% for obj in instance5 %}
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{obj.portfolio_image.url}}" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">{{obj.portfolio_title}}</a></h3>
                                    <p>{{obj.portfolio_description}}</p>
                                    <a class="preview" href="{{obj.portfolio_image.url}}" rel="prettyPhoto"><i class="fa fa-eye"></i> View  &nbsp;</a> 
                                    <a class="preview" href="https://{{obj.portfolio_url}}"><i class="fa fa-link"></i>  Click to visit</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->


    {% include 'webpage/footer.html' %}
    <!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>