{% extends 'base_auth.html' %}



{% block content_title %}

<title>AMC | Admin-Change password </title>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
           
   <h5> We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.</h5>
  
   <h5> If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</h5>
  
        </div>
    </div>
</div>
{% endblock %}