{% extends 'base.html' %}

{% block content %}

	
			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Portfolio- Website-products Update</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
								<!-- <tr>
									<td><label for ="title" > Select an icon image :</label></td>
									<td>{{portfolio_web_form.web_icon}}</td>
								</tr>
								<tr>
									<td><label for ="image_name" > Enter the title : </label></td>
									<td>{{portfolio_web_form.web_title}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Select Product Image (size should be 1024 x 775 or more) : </label></td>
									<td>{{portfolio_web_form.web_image}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Enter product category : </label></td>
									<td>{{portfolio_web_form.category}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Enter web address(URL) : </label></td>
									<td>{{portfolio_web_form.web_url}}</td>
								</tr> -->
								{{portfolio_web_form}}
								<tr>
									<td><input type ="submit" value="Update" class = "btn btn-success"/>
									<a href='/portfolio-admin' class="btn btn-default" role="button">Cancel</a></td>
								</tr>
							</tbody>
						</table>
					   </div>
	                </div>
	            </div>
	           
			</form>

	
{% endblock %}