{% extends 'base.html' %}

{% block content %}


			<form method = "POST" action ="" enctype="multipart/form-data" role = "form"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Services- Header Update</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
								<!-- <tr>
									<td><label for ="title" > Enter the title :</label></td>
									<td>{{services_header_form.header_title}}</td>
								</tr>
								<tr>
									<td><label for ="image_name" > Header Background Image : </label></td>
									<td>{{services_header_form.header_bgimage}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Description : </label></td>
									<td>{{services_header_form.header_description}}</textarea></td>
								</tr> -->
                {{services_header_form}}
								<tr>
									<td><input type ="submit" value="Update" class = "btn btn-success"/>
                  <a href='/services-admin' class="btn btn-default" role="button">Cancel</a></td>
								</tr>
							</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>
{% endblock %}

<!-- <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Bordered Table</h3>
            </div> -->
            <!-- /.box-header -->
            <!-- <div class="box-body">
              <table class="table table-bordered">
                <tbody><tr>
                  <th style="width: 10px">#</th>
                  <th>Task</th>
                  <th>Progress</th>
                  <th style="width: 40px">Label</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>Update software</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-red">55%</span></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>Clean database</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-yellow">70%</span></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>Cron job running</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">30%</span></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>Fix and squish bugs</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">90%</span></td>
                </tr>
              </tbody></table>
            </div> -->
            <!-- /.box-body -->
            <!-- <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div> -->