{% extends 'base.html' %}

{% block content %}


			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Services- Portfolio Update</h3>
	                  </div>
	                 
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
								<!-- <tr>
									<td><label for ="title" > Enter the title :</label></td>
									<td>{{services_portfolio_form.portfolio_title}}</td>
								</tr>
								<tr>
									<td><label for ="image_name" > Select an image : </label></td>
									<td>{{services_portfolio_form.portfolio_bgimage}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Description : </label></td>
									<td>{{services_portfolio_form.portfolio_description}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Enter URL : </label></td>
									<td>{{services_portfolio_form.portfolio_url}}</td>
								</tr> -->
								{{services_portfolio_form}}
								<tr>
									<td><input type ="submit" value="Update" class = "btn btn-success"/>
									<a href='/services-admin' class="btn btn-default" role="button">Cancel</a></td>
								</tr>
							</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

	
{% endblock %}
