{% extends 'base.html' %}

{% block content %}

			<form method = "POST" action ="" enctype="multipart/form-data" role="form"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Services- Header Add</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
								<tr>
									<td><label for ="title" > Enter the title :</label></td>
									<td>{{services_header_form.header_title}}</td>
								</tr>
								<tr>
									<td><label for ="image_name" > Header Background Image : </label></td>
									<td>{{services_header_form.header_bgimage}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Description : </label></td>
									<td>{{services_header_form.header_description}}</textarea></td>
								</tr>
								<tr>
									<td><input type ="submit" value="Submit" class = "btn btn-success"/></td>
								</tr>
							</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

	
{% endblock %}


<!-- <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Quick Example</h3>
            </div> -->
            <!-- /.box-header -->
            <!-- form start -->
           <!--  <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile">

                  <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Check me out
                  </label>
                </div>
              </div> -->
              <!-- /.box-body -->

              <!-- <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div> -->